<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>仟得文化ERP管理系统</title>
    <meta name="description" content="仟得文化ERP管理系统">
    <!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style type="text/css">
        body {
            background-image: url(/img/login-background.jpg);
        }

        /* .background{
             background-image:url(/img/login-background.jpg);
         }*/
    </style>

</head>
<script>
    $(function () {
        $('.popover-show').popover('show');
    });
    $(function () {
        $('.popover-show').on('shown.bs.popover', function () {
            alert("当显示时警告消息");
        })
    });

</script>


<body>
<div class="background">


    <h3 align="center"> 登录</h3>
    <div class="container">
        <form method="post" action="login">

            <table align="center" border="0" height="280px">
                <tr>
                </tr>

                <tr>
                    <td width="2em">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg>&nbsp;
                    </td>
                    <td width="200px" height="111px">


                        <input type="text" class="form-control" id="userid" name="userid"
                               placeholder="请输入用户名">

                    </td>

                    <td align="right" width="100"><label style="color: red" align="center"></label>
                    </td>

                </tr>

                <tr>
                    <td width="2em">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-key" fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                            <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>&nbsp;
                    </td>
                    <td>

                        <input type="text" class="form-control" id="password" name="password"
                               placeholder="请输入密码"></td>
                    <td align="right" width="100">
                        <input type="submit" value="提交" class="btn btn-default">
                    </td>
                </tr>
            </table>
        </form>
    </div>

</div>
</body>
</html>